* {
  font-family: BlexMono Nerd Font;
  font-size: 14px;
  font-weight: bolder;
}

window#waybar {
  background-color: #45403d;
}

tooltip {
  background: #45403d;
  border-radius: 10px;
}

tooltip label {
  color: #ebdbb2;
}

/* Modules Left */
#workspaces button {
  color: #d4be98;
  border-radius: 0px;
}

#workspaces button.active {
  color: #ebdbb2;
  background-color: #7daea3;
}

#workspaces button:hover {
  color: #45403d;
  background: #d4be98;
  border-color: #d4be98;
  box-shadow: none;
  text-shadow: #d4be98;
}

#window {
  color: #d4be98;
  padding-left: 1em;
}

/* Modules Center */
#clock {
  color: #d4be98;
  font-weight: bolder;
}

/* Modules Right */
#cpu,
#memory,
#backlight,
#wireplumber,
#battery,
#network,
#tray {
  color: #a9b665;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#backlight,
#wireplumber {
  color: #d8a657;
}

#battery,
#network {
  color: #d3869b;
}
